﻿@model WrestlingManager2018.ViewModels.ChampionshipFormViewModel
@{
    ViewBag.Title = "ChampionshipForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Championship</h2>
@using (Html.BeginForm("Save", "Championships"))
{

<div class="form-group">
    @Html.LabelFor(m => m.Championship.Name)
    @Html.TextBoxFor(m => m.Championship.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Championship.Name)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Championship.Division)
    @Html.TextBoxFor(m => m.Championship.Division, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Championship.Division)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Championship.ChampionshipType)
    @Html.TextBoxFor(m => m.Championship.ChampionshipType, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Championship.ChampionshipType)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Championship.WrestlerId)
    @Html.DropDownListFor(m => m.Championship.WrestlerId, new SelectList(Model.Wrestlers, "Id", "Name"), "Select Champion.", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Championship.WrestlerId)
</div>

@Html.HiddenFor(m => m.Championship.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}