﻿@model WrestlingManager2018.ViewModels.WrestlerFormViewModel
@{
    ViewBag.Title = "WrestlerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Wrestler</h2>
@using (Html.BeginForm("Save", "Wrestlers"))
{

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Name)
    @Html.TextBoxFor(m => m.Wrestler.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Name)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Overall)
    @Html.TextBoxFor(m => m.Wrestler.Overall, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Overall)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Turn)
    @Html.TextBoxFor(m => m.Wrestler.Turn, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Turn)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Division)
    @Html.TextBoxFor(m => m.Wrestler.Division, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Division)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Height)
    @Html.TextBoxFor(m => m.Wrestler.Height, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Height)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Weight)
    @Html.TextBoxFor(m => m.Wrestler.Weight, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Weight)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Wrestler.Salary)
    @Html.TextBoxFor(m => m.Wrestler.Salary, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Wrestler.Salary)
</div>

@Html.HiddenFor(m => m.Wrestler.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}